.menu-container {
    height: 100%;
    width: 100%;
    max-width: 500px;
    border: none;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    background-size: cover;
    background-position: center;
}

.corner-view {
    width: 45px;
    height: 45px;
    background-color: #262525;
    position: absolute;
}

.top-left-corner {
    left: 0;
    top: 0;
    border-bottom-right-radius: 80px;
}

.bottom-left-corner {
    left: 0;
    bottom: 0;
    border-top-right-radius: 80px;
}

.bottom-right-corner {
    right: 0;
    bottom: 0;
    border-top-left-radius: 80px;
}

.top-right-corner {
    right: 0;
    top: 0;
    border-bottom-left-radius: 80px;
}

.menu-title {
    color: #fff;
    position: absolute;
    top: 0;
    display: flex;
}

.view-order {
    color: #fff;
    position: absolute;
    bottom: 0;
}

.list-view {
    color: #fff;
}

.order-input {
    max-width: 35px;
    max-height: 35px;
}
