.hide-dropdown-arrow .dropdown-toggle::after {
    display: none !important;
}

.hide-dropdown-arrow .dropdown-menu {
    right: 25px !important;
    left: auto !important;
}

.navbar-container {
    background: #49ac60;
}

.notification-text {
    background: red;
    color: white;
    font-size: 10px;
    border-radius: 100px;
    height: 20px;
    width: 20px;
    margin-left: 12px;
    font-weight: bold;
    position: absolute;
    display: flex;
}

.notification-bell {
    cursor: pointer;
}

.user-logo {
    height: 40px;
    width: 40px;
    border-radius: 100px;
    margin-left: 'auto';
}

.notification-dropdown .dropdown-menu .notification-list {
    max-height: 500px;
    width: 400px;
    padding-bottom: 40px;
    position: relative;
    overflow-y: auto;
}

.notification-dropdown .dropdown-menu .dropdown-item {
    height: auto;
    white-space: normal;
    word-wrap: break-word;
    border-bottom: 0.2px solid #d2d6d3;
}

.mark-as-read {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px !important;
    text-align: center;
    padding: 8px 16px;
    background-color: #49ac60;
    color: #fff;
    border-top: 1px solid #dee2e6;
    transition:
        background-color 0.3s,
        color 0.3s;
}

.mark-as-read:hover {
    background-color: #478d5b;
    color: #fff;
}

.mark-as-read:active {
    background-color: #4e8a64;
    color: #fff;
}
